REACT_APP_ENV_NAME=local
REACT_APP_GOOGLE_SEARCH_ENGINE_ID=your-search-engine-id
REACT_APP_GOOGLE_SEARCH_ENGINE_API_KEY=AIza...your-google-api-key
REACT_APP_BING_SEARCH_ENGINE_API_KEY=your-bing-api-key
